# AWS Credentials
AWS_ACCESS_KEY=AKIAXXXXXXXXXXXXXXXX
AWS_SECRET_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# AWS SQS Configuration
AWS_REGION=us-east-1
SQS_DLQ_URL=https://sqs.us-east-1.amazonaws.com/392900064616/FILA_EXAMPLO.fifo
SQS_DLQ_NAME=FILA_EXEMPLO

# Database (opcional para produção)
DB_URL=jdbc:postgresql://localhost:5432/auditdb
DB_USERNAME=postgres
DB_PASSWORD=password

# Logging Level
LOG_LEVEL=DEBUG
